
.row { 
  position: relative;
  &::after, &::before {
    display: table;
    content: "";
    clear: both;
  }
};

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 $main-spacing;
};

html {
  overflow-x: hidden;
  font-family: $font-family;
};
