@mixin text {
  font-family: Roboto, sans-serif;
  font-size: $font-size-main;
};

@mixin text-big {
  font-family: Roboto, sans-serif;
  font-size: $font-size-big;
};

@mixin border-radius ($percent: 50%, $width: 1px, $type: solid, $color: null) {
  border-radius: $percent;
  border: $width $type $color;
};

@mixin flex ($direction: row) {
  display: flex;
  flex-direction: $direction;
  @content;
};

// mmedia quiries
@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if($size) {
    @media #{$size} {
      @content
    }
  }
  @else {
    @error '"#{$breakpoint}" - Nie pozponaje tej wielkosci'
  }
};

