$color-primary: rgba(22, 140, 236, 0.445);
$color-info: rgba(209, 255, 136, 0.445);
$color-danger: rgba(226, 226, 226, 0.445);
$color-link: rgb(243, 235, 235);
$color-link-active: rgb(228, 125, 125);

$bgc-light: rgb(134, 47, 247);;
$bgc-dark: #750FF7;
$bgc-gray: rgba(240, 234, 233, 0.445);

$font-family: 'Roboto', sans-serif;

$text-color: rgb(48, 46, 46);
$text-color-purple: rgb(48, 46, 46);
$text-color-dark: rgba(17, 17, 17, 0.445);
$text-color-light: rgba(61, 61, 61, 0.445);

$font-size-main: 16px;
$font-size-small: 12px;
$font-size-big:  22px;

$main-spacing:  20px;

$transition-time: 0.3s;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
};

$breakpoints: (
  xsmall: (min-width: 460px),
  small: (min-width: 640px),
  medium: (min-wdith: 800px),
  large: (min-wdith: 1024px),
  xlarge: (min-wdith: 1200px),
);